@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

 html{
 	font-size: 10px;
 	max-width: 3270px;
 	
 }
 main{ 
 	margin-left: auto;
    margin-right: auto;
     }
 img{
 	max-width: 100%;
 	vertical-align: middle;
 }    
a{
  text-decoration: none;
 }
body {
  width: 100%;
  max-width: 1170px;
  font-family: 'Open Sans', Sans-serif;
  font-size:  1.6rem;
  color: #333332;
  background: #e5e5e5;
  line-height: 38px;
  margin:auto;
  transition: 0.2s ease-out;
}
.main{
	max-width: 1170px;
	background: #fff;
	box-shadow:  0px 0px 50px 1px rgba(0, 0, 0, 0.4);
	margin:80px 0;

}
.header{
width: 100%;
}
.slider{
height:400px;
overflow: hidden;
position: relative;
text-align: center;
text-align-last:center;

}
.footer{
margin: auto;
display: flex;
flex-direction: column;
width: 100%;
max-width: 1170px;
background: rgba(0, 0, 0, 0.85);

}
.slider div.img-conteiner {
height: 100%;
max-height: 400px;
display: flex;
justify-content: center;
align-items:center;
overflow: hidden;
background: #000
}
.slider div.img-conteiner img{
	min-width: 555px;
height: auto;
opacity: 0.7;

}

.content-header{
    margin: auto;
	display: flex;
	flex-direction: row;
	max-width:780px;
	padding: 30px;
	align-items:center;
}


.slider div.zag{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
   display: flex;
   text-align: center;
   text-align-last:center;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.slider div.zag h1{
margin-bottom: 0; 
font-family: Domine;
 font-size:  4.0rem;
color: #fff;
text-shadow:0px 2px 25px rgba(0, 0, 0, 0.3)
 }
.slider div.zag h2{ 
margin-top: 0;	
font-family: Helvetica;
font-size:  2.4rem;
color: rgba(255, 255, 255, 0.8);
text-shadow:0px 2px 20px rgba(0, 0, 0, 0.15);
transition: color ;}

.slider div.zag h2:hover{
	color: #fff;}

.item-one{
width: 50%;
}

.content-header .item-one a{
color:  rgba(0, 0, 0, 0.8);
font-size:  1.8rem;
transition: color;
}
.content-header .item-one a:hover{
color: #000;
}
.content-header .item-one p{
 margin: -5px 0 0 0;
 line-height: 20px;	
color:rgba(0, 0, 0, 0.8);
font-size: 1.2rem;
font-family: Helvetica ; 
}
.item-tow{
font-size: 1.4rem;
line-height: 24px;
width: 50%;
justify-content: flex-start;
display: flex;
flex-direction: row;
}
.content-header div.item-tow{
padding-right: 15px;
padding-left: 15px;

}
.content-header .item-tow a{
margin-right: 15px;
 color: rgba(69, 69, 69, 0.8);	
line-height: 24px;

}
.item-tow a:hover {
color: #000000;
}
.item-tow a:active {
 color:  #000000;}

.main-conteiner{
	margin:auto;
	padding: 60px;
	max-width: 780px;
}

.main-conteiner div{
margin-bottom: 30px;
}
.main-conteiner div:first-child{
font-weight: bolder;
}


.main-conteiner div.whatapikcha div{
margin-top: 30px;
color:#ababab;
font-family:  Arial;
font-size: 1.4rem;
line-height: 26px;
text-align: center;
text-align-last:center;
}
	
.footer .footer-one{
	 max-width: 780px;
	margin: auto;
	text-align: center;
    color: #a6a6a6;
	font-size: 1.3rem;
	font-size: 1.3rem;
	padding: 25px 0;}

.footer-tow {
	padding: 30px 0;
	width: 100%;
	max-width: 1170px;
	background:  rgba(0, 0, 0, 0.9);}

 .footer-tow div.conteiner {
    display: flex;
    align-items: center;
   justify-content: center;
}	

.footer a{
	 color: #fff;
width: 40px;
height: 40px;
border-radius: 2px;
margin: 3px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.9;
transition: opacity;
}
.footer a:hover{
	opacity: 1;
}
.footer  a.fus-item  i.fa{
	margin: auto; 
	font-size: 1.8rem;

}

.footer  a.fus-item:first-child{
background:  #00b0ef;
}
.footer  a.fus-item:nth-child(2){
background:  #0066ff;
}
.footer  a.fus-item:nth-child(3){
background: #0083d1;
}
.footer  a.fus-item:nth-child(4){
background: #265999;
}
.footer  a.fus-item:nth-child(5){
background: #ff7600;
}

@media screen and (max-width: 850px){
div.item-one{
	width: 25%;
}

div.item-tow{
	padding: 0 0;
	width: 75%;
	justify-content: flex-end;
}
@media screen and (max-width: 850px){

.content-header{
	flex-direction: column;
	justify-content: center;
	padding: 15px;
}
div.item-one{
	width: 100%;
	text-align: center;
    text-align-last:center;
    margin-bottom: 10px;
		
}

div.item-tow{
	width: 100%;
	justify-content: center;
}
